@import "../mixin";

.footer {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 24px;
  border-top: 1px solid rgb(213, 213, 213);
  padding-top: 24px;
  .footerContent {
    padding: 0 100px 80px;
    .footerHeadings {
      column-gap: var(--grid-desktop-horizontal-spacing);
      .contain {
        display: flex;
        .collections {
          padding: 0 40px;
          width: 33%;

          flex-wrap: wrap;
          .heading {
            margin-bottom: 32px;
            font-size: 18px;
          }
          .collect {
            .collectItem {
              padding-bottom: 16px;
              font-size: 15px;
              color: rgb(93, 91, 91);
              font-weight: 500;
              cursor: pointer;
              &:hover {
                color: rgb(18, 18, 18);
                text-decoration: underline;
                text-underline-offset: 0.3rem;
              }
            }
          }
        }
      }
      .containTwo {
        display: flex;
        width: 100%;
        padding-top: 100px;
        .help {
          width: 50%;
          padding: 0 40px 30px;
          .heading {
            margin-bottom: 32px;
            font-size: 18px;
          }
          .collect {
            .collectItem {
              padding-bottom: 16px;
              font-size: 15px;
              color: rgb(93, 91, 91);
              cursor: pointer;
              &:hover {
                color: rgb(18, 18, 18);
                text-decoration: underline;
                text-underline-offset: 0.3rem;
              }
            }
          }
        }
        .visa {
          width: 50%;
          padding: 0 40px 30px;
          img {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .footerNews {
      margin-top: 20px;
      
      .website {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .socialMedia {
          width: 200px;

          display: flex;
          .socialItem {
            width: 100%;
            margin: 0 15px;
          }
        }
      }
    }
  }
  .footerEnd {
    border-top: 1px solid rgb(213, 213, 213);
    width: 100%;
    text-align: center;
    padding: 0 80px;
    .endFooter {
      font-size: 9.5px;
      letter-spacing: 1px;
      line-height: calc(1 + 0.9);
      color: rgb(145, 139, 139);
    }
  }
}

@media (max-width: 768px) {
  .footer {
    .footerContent {
      .footerHeadings {
        .contain {
          flex-direction: column;
        }
        .containTwo {
          .visa {
            display: none;
          }
        }
      }
      
    }
  }
}

@media(max-width:400px){
  .footer{
    .footerContent{
      .footerHeadings{
        .contain{
          .collections{
            padding: 0;
          }
        }
        .containTwo{
          .help{
            padding: 0;
          }
        }
       
      }
    }
  }
}
